@mixin dialog-title(){
	line-height: 48px;
	width: calc(100% - 18px);
	background-color: #f7f9fc;
	text-align: left;
	padding-left: 18px;
	font-size: 12px;
	font-weight: 500;
	color: #595e64;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
