.Confirm-remove-dsb-dialog, .Confirm-remove-crb-dialog
  width: 504px
  height: 427px
  background: #fff
  +center-element
  margin-top: 80px
  border-radius: 3px

  +element('title')
    +dialog-title
    text-transform: uppercase
    font-weight: 500

    +element('icon-close')
      float: right
      margin: 18px

  +element('inside')
    padding: 20px

    +element('footer')
      position: absolute
      bottom: 15px
      width: calc(100% - 20px)
      display: flex
      justify-content: flex-end

      & .button-secondary
        margin-left: 15px
