.Checkbox {
    border-radius: 100%;
    border: 2px solid #edf0f2;
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    .checkmark {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: #479dda;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
/*
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #91c7e5;
  position: relative;

  span {
    color: #303132;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 11px;
    width: 11px;
    height: 6px;
  }
}
*/
