@font-face {
    font-family: 'helvetica';
    src: url('../assets/fonts/HELVETICA_NEUE.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-bold';
    src: url('../assets/fonts/HELVETICA_NEUE_CONDENSED_BOLD.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;
}

//@font-face {
//    font-family: 'nexa_scriptfree';
//    src: url('../assets/fonts/nexascript-free-webfont.eot');
//    src: url('../assets/fonts/nexascript-free-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/nexascript-free-webfont.woff2') format('woff2'),
//         url('../assets/fonts/nexascript-free-webfont.woff') format('woff'),
//         url('../assets/fonts/nexascript-free-webfont.ttf') format('truetype'),
//         url('../assets/fonts/nexascript-free-webfont.svg#nexa_scriptfree') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}