.Header{
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  line-height: 59px;
  height: 59px;
  font-size: 12px;
  font-weight: 500;
  color: #565c65;
  position: relative;
  float: right;

  .inside{
    display: flex;
    line-height: 59px;
    height: 100%;
    background: #fff;
    padding-right: 24px;

    .filterIconContainer{
      width: 60px;
      height: 100%;
      background: #a9b6c5;
      position: relative;
      span{
        color: #fff;
        font-size: 22px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 20px;
        left: 0;
        margin: auto;
        height: 23px;
      }
    }

    [class='icon-hamburger']{
      line-height: 59px;
      font-size: 20px;
      padding-left: 20px;
    }

    .linkHome, .currentLocation{
      padding: 0 24px;
    }

    .linkHome, .icons{
      border-right: 1px solid #e1e3e5;
    }

    .linkHome{
      position: relative;
      @extend .tip;
      flex: 0.2;
      &:hover{
        cursor: pointer;
      }
    }

    .currentLocation{
      flex: 5;
    }

    .icons, .userSettings{
      flex: 1.1;
    }

    .icons{
      line-height: 65px;
      padding-right: 5px;
    }

    .icons [class^="icon-"]{
      font-size: 15px;
      margin: 10px;
    }

    .userSettings{
      display: flex;
      display: -webkit-box;
      padding-left: 25px;
      .avatarContainer{
        width: 40px;
        height: 40px;
        padding: 10px 10px 0 0;
      }
      [class="icon-arrow-dropdown"]{
        line-height: 59px;
        line-height: 59px;
        left: 12px;
        position: relative;
        font-size: 8px;
      }
      .username{
        width: 97px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }

}

.tip{
  &::before, &::after{
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after{
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 5px;
    right: -10px;
    top: 24px;
  }

  &::before{
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 7px;
    right: -14px;
    top: 22px;
  }

}

::i-block-chrome, .inside {
 display: -webkit-box!important;
 .currentLocation{
   width: 700px;
 }
}
