@mixin text-not-selectable($select: none){
    -webkit-user-select: $select; /* Chrome/Safari */        
    -moz-user-select: $select; /* Firefox */
    -ms-user-select: $select; /* IE10+ */
}

@mixin border-radius($radius: $border-radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}