#redirect-container{
    background: #ffffff;
    height: 100%;
}

#redirect-container .inside{
    padding: 50px;
    padding-top: 50px;
    line-height: 100px;
    text-align: center;
    font-size: 35px;
}