//spaces
$all-site-width: 1280px;
$padding-inside: 8px;
$border-radius: 3px;

//text-colors
$text-color: #FFFFFF;
$general-title-color: #515651;

//background-colors
$tooltipBackgroundColor: #373839;
$tooltipFontColor: #a0a0a0;

$side-bar-color: #303132;
$primary-color: #5C9ABC;
//$secondary-color: #33adff;
$secondary-color: #568EAE;
$background-color: #e0e0e0;
//$menu-left-background: #F2F2F2;
$menu-left-background: #303132;
$point-background: #2F9970;

//general properties
$devider-border: 1px solid #ddd;
$selected-card-shaddow: 1px 1px 7px #5D5DB9;

//appTopology
$primaryColor: #8dc5e4;
$selectedStrokeWidth: 3px;

//icon
$serviceIconFill: #dae8ee;
$serviceIconHoverFill: #62ade1;
$serviceIconSelectedFill: #479dda;
$serviceImgFill: #60abdf;
$serviceImgHoverFill: #dae8ee;
$serviceImgSelectedFill: #ffffff;

$dependencyIconHoverFill: #67b47d;
$dependencyIconFill: #daeee0;
$dependencyIconSelectedFill: #43ab60;
