.Quotas{
  display: flex;
  display: -webkit-box;
  flex: 4;
  height: 100%;
  min-width: 770px;

  .btnShowQuotaList{
    position: absolute;
    right: 20px;
    margin-top: 35px;
    #btn{
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      background: #e6eaed;
      border: none;
      outline: none;
      &:hover{
        cursor: pointer;
      }
      &:active{
        opacity: 0.5;
      }
      span{
        position: absolute;
        top: 10px;
        left: 11px;
      }
    }
  }
}
